<%- include("header") -%>
<h2>This is the about page</h2>


<p>sifuhn sfha iuehnfrefuih wurheuaueyrea auihaoin awuwruc na fhncwaefncaiw chfiahfas
fufhasnaeucnwaeayfanosih</p>
<%- include("footer") -%>
